# Игнорирование папок
client-console/build/
gui/build/
key-exchange/build
temp/

# Игнорирование файлов
# build.log
# fear.exe

Thumbs.db

# Дополнительные полезные правила (опционально)
*.log
*.exe
*.tmp
*.temp

# Не игнорировать папку с содержимым
!updater/curl-8.15.0_5-win64-mingw/**